$main-dark-color: #92a98f;
$main-light-color: #aabca1;
$second-color : #5a4b3c;
$third-color : #7cbda0;
$green-color: #679e79;
$dark-green-color: #213b27;
$pink-color: #f0d4b6;
$gold-color: #ab8917;
$light-grey: #f0faf9;